body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

svg {
    background-color: white;
    box-shadow: 5px 10px 40px grey;
    margin-top: 10%;
}

#title {
    font-size: 18pt;
}

.label {
    font-size: 9pt;
}

#tooltip {
    background-color: #C1D8EC;
    position: absolute;
    border-radius: 5px;
    /* visibility: hidden; */
    list-style: none;
    padding: 5px;
    font-size: 9pt;
}

.dot:hover {
    r: 8;
}