body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

svg {
    background-color: white;
    box-shadow: 5px 10px 40px grey;
    margin-top: 10%;
}

#title {
    font-size: 18pt;
}

.label {
    font-size: 9pt;
}

#legend {
    top: 40px;
    left: 40px;
    width: 20px;
    height: 20px;
}