body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

svg {
    background-color: white;
    box-shadow: 5px 10px 40px grey;
    margin-top: 10%;
    padding-top: 10px;
}

#title {
    font-size: 18pt;
}

.label {
    font-size: 9pt;
}

#tooltip {
    position: absolute;
    background-color: #C1D8EC;
    border-radius: 5px;
    opacity: 0;
    padding: 5px;
    font-size: 9pt;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 5px 0;
}

.dot:hover {
    r: 8;
}